extends layout
block content
    h1 Models
    div.row
        div.col-8.border(style = "height:500px;")
            div.card(style = "width: 18rem;")
                img(src="/images/set1.jpg", alt="", srcset="")
        div.col-4.border 
            h3.text-center Description
            ul 
                li A-lines
                li B-lines, consolidations
                li B-lines, effusion
                li B-lines,Consolidation,Effusion
                li B-lines
                li Consolidation, effusion
                li Consolidations
                li Effusion
                    
    div.row
        div.col-8
            div.row
                div.col-9
                    button.btn.btn-primary
                        i.bi.bi-arrow-left  Back
                div.col-3
                    button.btn.btn-primary Next 
                        i.bi.bi-arrow-right 
        div.col-4
            